In [ ]:
from scipy.stats import kendalltau
from statsmodels.tsa.stattools import grangercausalitytests, adfuller

### State lists

In [ ]:
us_states = [
  "Alabama",
  "Alaska",
  "Arizona",
  "Arkansas",
  "California",
  "Colorado",
  "Connecticut",
  "Delaware",
  "Florida",
  "Georgia",
  "Hawaii",
  "Idaho",
  "Illinois",
  "Indiana",
  "Iowa",
  "Kansas",
  "Kentucky",
  "Louisiana",
  "Maine",
  "Maryland",
  "Massachusetts",
  "Michigan",
  "Minnesota",
  "Mississippi",
  "Missouri",
  "Montana",
  "Nebraska",
  "Nevada",
  "New Hampshire",
  "New Jersey",
  "New Mexico",
  "New York",
  "North Carolina",
  "North Dakota",
  "Ohio",
  "Oklahoma",
  "Oregon",
  "Pennsylvania",
  "Rhode Island",
  "South Carolina",
  "South Dakota",
  "Tennessee",
  "Texas",
  "Utah",
  "Vermont",
  "Virginia",
  "Washington",
  "West Virginia",
  "Wisconsin",
  "Wyoming"
]

In [ ]:
brazil_states = [
  "Acre",
  "Alagoas",
  "Amazonas",
  "Amapa",
  "Bahia",
  "Ceara",
  "Federal District", # old "Distrito Federal"
  "Espirito Santo",
  "Goias",
  "Maranhão",
  "Minas Gerais",
  "Mato Grosso do Sul",
  "Mato Grosso",
  "Para",
  "Paraiba",
  "Parana",
  "Pernambuco",
  "Piaui", # old "Piaui"
  "Rio de Janeiro",
  "Rio Grande do Norte",
  "Rondonia",
  "Roraima",
  "Rio Grande do Sul",
  "Santa Catarina",
  "Sergipe",
  "São Paulo",
  "Tocantins"]

### Code

In [ ]:
!pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.3.6-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.9/235.9 kB 8.7 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.6

In [ ]:
import pandas as pd
from unidecode import unidecode
import numpy as np

In [ ]:
df_india_tweets = pd.read_csv('india_states_tweet_count.csv')
df_india_shortage = pd.read_csv('resources_data_used_for_india.csv')

In [ ]:
india_subdivisions = ['Haryana',
 'Madhya Pradesh',
 'Lakshadweep',
 'Tamil Nadu',
 'Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Uttarakhand',
 'Gujarat',
 'Manipur',
 'Himachal Pradesh',
 'Punjab',
 'Karnataka',
 'Jharkhand',
 'Bihar',
 'Dadra and Nagar Haveli',
 'Arunachal Pradesh',
 'Sikkim',
 'Mizoram',
 'Chandigarh',
 'Goa',
 'Assam',
 'Kerala',
 'West Bengal',
 'Maharashtra',
 'Tripura',
 'Daman and Diu',
 'Delhi',
 'Puducherry',
 'Uttar Pradesh',
 'Rajasthan',
 'Nagaland',
 'Jammu and Kashmir',
 'Odisha',
 'Telangana',
 'Chhattisgarh',
 'Meghala']

In [ ]:
def get_state_dataseries_merged(df_tweets, df_resources, state_name, start_date, end_date):
    # take the data from one state and within time range
    df_tweets_selected    = df_tweets.loc[
        (df_tweets['state'] == state_name) &
        (df_tweets['date_time'] >= start_date) &
        (df_tweets['date_time'] < end_date)
    ].sort_values('date_time')
    df_resources_selected = df_resources.loc[
        (df_resources['location_name'] == state_name) &
        (df_resources['date'] >= start_date) &
        (df_resources['date'] < end_date)
    ].sort_values('date')

    if len(df_tweets_selected) == 0 or len(df_resources_selected) == 0:
        return None

    # merge the two tables
    df_merged = pd.merge(df_tweets_selected, df_resources_selected,
                         left_on='date_time', right_on='date',
                         how='inner').drop('date_time', axis=1).sort_values('date')

    return df_merged

In [ ]:
start_date = '2020-02-01'
end_date   = '2021-04-01'

In [ ]:
results_per_states = {}

adf_stats_tweets = []
p_tweets = []
lag_used_tweets = []
adf_stats_beds = []
p_beds = []
lag_used_beds = []
is_adf = []

state_names = []

for subdivision in india_subdivisions:
    df_merged = get_state_dataseries_merged(df_india_tweets, df_india_shortage, subdivision, start_date, end_date)

    if df_merged is None:
        print('no data for: ', subdivision)
        continue

    state_names.append(subdivision)

    # extract the X and Y
    X = df_merged['neg'].to_numpy()
    Y = df_merged['icu_beds_mean'].to_numpy()
    n = 2
    X = np.diff(X, n=n)
    Y = np.diff(Y, n=n)

    # res = model_series_ccm(X, Y, tau=1, E=8, L_min=40)

    result = adfuller(X)
    adf_stats_tweets.append("{:.3e}".format(result[0]))
    p_tweets.append("{:.3e}".format(result[1]))
    lag_used_tweets.append(result[2])

    result2 = adfuller(Y)
    adf_stats_beds.append("{:.3e}".format(result2[0]))
    p_beds.append("{:.3e}".format(result2[1]))
    lag_used_beds.append(result2[2])

    is_adf.append('Y' if result[1] <= 0.05 and result2[1] <= 0.05 else 'N')

    # results_per_states[subdivision] = res

df = pd.DataFrame()
df['Subdivision Name'] = state_names
df['ADF Statistic - Beds'] = adf_stats_beds
df['p value - Beds'] = p_beds
df['Lag used - Beds'] = lag_used_beds
df['ADF Statistic - Tweets'] = adf_stats_tweets
df['p value - Tweets'] = p_tweets
df['Lag used - Tweets'] = lag_used_tweets
df['Reject null hypothesis'] = is_adf
df

no data for:  Lakshadweep
no data for:  Tamil Nadu
no data for:  Andaman and Nicobar Islands
no data for:  Dadra and Nagar Haveli
no data for:  Chandigarh
no data for:  Assam
no data for:  Daman and Diu
no data for:  Puducherry
no data for:  Jammu and Kashmir
no data for:  Meghala

,Subdivision Name,ADF Statistic - Beds,p value - Beds,Lag used - Beds,ADF Statistic - Tweets,p value - Tweets,Lag used - Tweets,Reject null hypothesis
0,Haryana,-6.632e+00,5.700e-09,5,-9.455e+00,4.506e-16,18,Y
1,Madhya Pradesh,-3.435e+00,9.809e-03,5,-1.035e+01,2.514e-18,16,Y
2,Andhra Pradesh,-1.462e+01,3.964e-27,3,-9.709e+00,1.026e-16,18,Y
3,Uttarakhand,-4.632e+00,1.126e-04,16,-1.033e+01,2.804e-18,18,Y
4,Gujarat,-2.951e+00,3.974e-02,9,-1.003e+01,1.601e-17,18,Y
5,Manipur,-9.108e+00,3.469e-15,11,-9.666e+00,1.314e-16,17,Y
6,Himachal Pradesh,-6.107e+00,9.536e-08,14,-1.037e+01,2.284e-18,17,Y
7,Punjab,-1.250e+01,2.810e-23,21,-1.225e+01,9.827e-23,21,Y
8,Karnataka,-5.145e+00,1.139e-05,9,-1.293e+01,3.680e-24,17,Y
9,Jharkhand,-4.534e+00,1.707e-04,6,-8.752e+00,2.823e-14,18,Y
10,Bihar,-3.151e+00,2.303e-02,16,-8.730e+00,3.213e-14,18,Y
11,Arunachal Pradesh,-9.654e+00,1.409e-16,13,-9.896e+00,3.456e-17,16,Y
12,Sikkim,-9.185e+00,2.198e-15,14,-1.099e+01,7.155e-20,15,Y
13,Mizoram,-1.040e+01,1.932e-18,6,-1.069e+01,3.692e-19,17,Y
14,Goa,-7.076e+00,4.797e-10,13,-1.061e+01,5.876e-19,16,Y
15,Kerala,-1.508e+01,8.464e-28,3,-1.057e+01,7.351e-19,18,Y
16,West Bengal,-9.419e+00,5.572e-16,5,-1.020e+01,6.087e-18,18,Y
17,Maharashtra,-7.196e+00,2.427e-10,8,-1.239e+01,4.780e-23,13,Y
18,Tripura,-1.578e+01,1.138e-28,2,-1.005e+01,1.389e-17,17,Y
19,Delhi,-7.575e+00,2.770e-11,7,-9.416e+00,5.665e-16,17,Y
20,Uttar Pradesh,-5.971e+00,1.932e-07,6,-1.168e+01,1.733e-21,15,Y
21,Rajasthan,-7.330e+00,1.136e-10,5,-9.130e+00,3.032e-15,18,Y
22,Nagaland,-1.088e+01,1.276e-19,8,-9.118e+00,3.253e-15,17,Y
23,Odisha,-1.538e+01,3.404e-28,2,-9.962e+00,2.366e-17,18,Y
24,Telangana,-8.188e+00,7.822e-13,7,-9.971e+00,2.237e-17,18,Y
25,Chhattisgarh,-7.306e+00,1.305e-10,2,-9.946e+00,2.588e-17,17,Y

In [ ]:
df.to_csv('adfuller_india.csv', index=False)

In [ ]:
p = []
lag = []
is_granger = []
state_names = []

for subdivision in india_subdivisions:

    df_merged = get_state_dataseries_merged(df_india_tweets, df_india_shortage, subdivision, start_date, end_date)

    if df_merged is None:
        print('no data for: ', subdivision)
        continue

    state_names.append(subdivision)

    # extract the X and Y
    X = df_merged['neg'].to_numpy()
    Y = df_merged['icu_beds_mean'].to_numpy()

    n = 2
    X = np.diff(X, n=n)
    Y = np.diff(Y, n=n)

    df_granger = pd.DataFrame(data={
        'tweets': X, 'nursing': Y
    })

    result = grangercausalitytests(df_granger[['nursing', 'tweets']], maxlag=10, verbose=False)

    for i in range(1, 11):
      p_val = result[i][0].get('ssr_ftest')[1]
      if p_val <= 0.05:
        p.append("{:.3e}".format(p_val))
        lag.append(i)
        is_granger.append('Y')
        break
      if i == 10:
        p.append("{:.3e}".format(p_val))
        lag.append(i)
        is_granger.append('N')
        print()

df = pd.DataFrame()
df['Subdivision name'] = state_names
df['p value'] = p
df['Number of lags'] = lag
df['Reject null hypothesis'] = is_granger
df

no data for:  Lakshadweep
no data for:  Tamil Nadu
no data for:  Andaman and Nicobar Islands








no data for:  Dadra and Nagar Haveli



no data for:  Chandigarh

no data for:  Assam


no data for:  Daman and Diu

no data for:  Puducherry



no data for:  Jammu and Kashmir



no data for:  Meghala

     Subdivision name    p value  Number of lags Reject null hypothesis
0             Haryana  9.981e-01              10                      N
1      Madhya Pradesh  5.967e-01              10                      N
2      Andhra Pradesh  1.000e+00              10                      N
3         Uttarakhand  9.996e-01              10                      N
4             Gujarat  8.607e-01              10                      N
5             Manipur  3.440e-03              10                      Y
6    Himachal Pradesh  8.277e-01              10                      N
7              Punjab  9.741e-01              10                      N
8           Karnataka  9.979e-01              10                      N
9           Jharkhand  3.180e-01              10                      N
10              Bihar  4.517e-01              10                      N
11  Arunachal Pradesh  1.000e+00              10                      N
12             Sikkim  1.000e+00              10                      N
13            Mizoram  9.992e-01              10                      N
14                Goa  8.143e-01              10                      N
15             Kerala  8.758e-06               8                      Y
16        West Bengal  2.808e-01              10                      N
17        Maharashtra  2.078e-03               6                      Y
18            Tripura  6.422e-01              10                      N
19              Delhi  9.092e-01              10                      N
20      Uttar Pradesh  9.981e-01              10                      N
21          Rajasthan  8.840e-01              10                      N
22           Nagaland  9.990e-01              10                      N
23             Odisha  9.768e-01              10                      N
24          Telangana  9.894e-01              10                      N
25       Chhattisgarh  8.932e-01              10                      N

In [ ]:
df.to_csv('granger_india.csv', index=False)

### US

In [ ]:
df_us_tweets = pd.read_csv('us_states_tweet_count.csv')
df_us_shortage = pd.read_csv('COVID-19_Reported_Patient_Impact_and_Hospital_Capacity_by_State_Timeseries__RAW_.csv')

In [ ]:
df_us_shortage['date'] = df_us_shortage['date'].apply(lambda d: d.replace('/', '-'))

In [ ]:
us_states = {
    'AK': 'Alaska',
    'AL': 'Alabama',
    'AR': 'Arkansas',
    'AZ': 'Arizona',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DC': 'District of Columbia',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'IA': 'Iowa',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'MA': 'Massachusetts',
    'MD': 'Maryland',
    'ME': 'Maine',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MO': 'Missouri',
    'MS': 'Mississippi',
    'MT': 'Montana',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'NE': 'Nebraska',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NV': 'Nevada',
    'NY': 'New York',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VA': 'Virginia',
    'VT': 'Vermont',
    'WA': 'Washington',
    'WI': 'Wisconsin',
    'WV': 'West Virginia',
    'WY': 'Wyoming'
}

In [ ]:
def get_state_dataseries_merged(df_tweets, df_resources, state_code, start_date, end_date):
    # take the data from one state and within time range
    df_tweets_selected    = df_tweets.loc[
        (df_tweets['state'] == us_states[state_code]) &
        (df_tweets['date_time'] >= start_date) &
        (df_tweets['date_time'] < end_date)
    ].sort_values('date_time')
    df_resources_selected = df_resources.loc[
        (df_resources['state'] == state_code) &
        (df_resources['date'] >= start_date) &
        (df_resources['date'] < end_date)
    ].sort_values('date')

    if len(df_tweets_selected) == 0 or len(df_resources_selected) == 0:
        return None

    # merge the two tables
    df_merged = pd.merge(df_tweets_selected, df_resources_selected,
                         left_on='date_time', right_on='date',
                         how='inner').drop('date_time', axis=1).sort_values('date')

    return df_merged

In [ ]:
start_date = '2020-02-01'
end_date   = '2021-04-01'

In [ ]:
adf_stats_tweets = []
p_tweets = []
lag_used_tweets = []
adf_stats_beds = []
p_beds = []
lag_used_beds = []
is_adf = []

state_names = []

# now look through each state for causation correlation
for subdivision in us_states:

    df_merged = get_state_dataseries_merged(df_us_tweets, df_us_shortage, subdivision, start_date, end_date)

    if df_merged is None:
        print('no data for: ', subdivision)
        continue

    state_names.append(us_states.get(subdivision))

    # extract the X and Y
    X = df_merged['neg'].to_numpy()
    Y = df_merged['inpatient_beds_used_covid'].to_numpy()
    has_nan = np.isnan(Y)
    if has_nan.any():
        not_nan = np.logical_not(has_nan)
        X = X[not_nan]
        Y = Y[not_nan]

    print(X.shape, Y.shape)

    n = 2
    X = np.diff(X, n=n)
    Y = np.diff(Y, n=n)

    # res = model_series_ccm(X, Y, tau=1, E=8, L_min=40)

    result = adfuller(X)
    adf_stats_tweets.append("{:.3e}".format(result[0]))
    p_tweets.append("{:.3e}".format(result[1]))
    lag_used_tweets.append(result[2])

    result2 = adfuller(Y)
    adf_stats_beds.append("{:.3e}".format(result2[0]))
    p_beds.append("{:.3e}".format(result2[1]))
    lag_used_beds.append(result2[2])

    is_adf.append('Y' if result[1] <= 0.05 and result2[1] <= 0.05 else 'N')

    # results_per_states[subdivision] = res

df = pd.DataFrame()
df['Subdivision Name'] = state_names
df['ADF Statistic - Beds'] = adf_stats_beds
df['p value - Beds'] = p_beds
df['Lag used - Beds'] = lag_used_beds
df['ADF Statistic - Tweets'] = adf_stats_tweets
df['p value - Tweets'] = p_tweets
df['Lag used - Tweets'] = lag_used_tweets
df['Reject null hypothesis'] = is_adf
df

(366,) (366,)
(387,) (387,)
(378,) (378,)
(387,) (387,)
(393,) (393,)
(375,) (375,)
(371,) (371,)
no data for:  DC
(362,) (362,)
(377,) (377,)
(388,) (388,)
(417,) (417,)
(388,) (388,)
(376,) (376,)
(400,) (400,)
(417,) (417,)
(417,) (417,)
(388,) (388,)
(388,) (388,)
(362,) (362,)
(388,) (388,)
(388,) (388,)
(388,) (388,)
(417,) (417,)
(395,) (395,)
(399,) (399,)
(416,) (416,)
(417,) (417,)
(388,) (388,)
(388,) (388,)
(362,) (362,)
(388,) (388,)
(375,) (375,)
(417,) (417,)
(375,) (375,)
(388,) (388,)
(388,) (388,)
(394,) (394,)
(388,) (388,)
(386,) (386,)
(387,) (387,)
(364,) (364,)
(373,) (373,)
(417,) (417,)
(369,) (369,)
(387,) (387,)
(370,) (370,)
(390,) (390,)
(379,) (379,)
(394,) (394,)
(388,) (388,)

,Subdivision Name,ADF Statistic - Beds,p value - Beds,Lag used - Beds,ADF Statistic - Tweets,p value - Tweets,Lag used - Tweets,Reject null hypothesis
0,Alaska,-1.039e+01,2.089e-18,12,-9.263e+00,1.394e-15,17,Y
1,Alabama,-1.060e+01,6.238e-19,10,-1.027e+01,3.961e-18,17,Y
2,Arkansas,-9.361e+00,7.802e-16,12,-9.230e+00,1.688e-15,17,Y
3,Arizona,-7.786e+00,8.173e-12,17,-9.378e+00,7.082e-16,16,Y
4,California,-1.218e+01,1.381e-22,8,-9.960e+00,2.384e-17,17,Y
5,Colorado,-1.028e+01,3.752e-18,12,-1.034e+01,2.762e-18,15,Y
6,Connecticut,-9.304e+00,1.095e-15,12,-8.903e+00,1.159e-14,17,Y
7,Delaware,-9.201e+00,2.008e-15,13,-9.992e+00,1.981e-17,17,Y
8,Florida,-7.876e+00,4.856e-12,12,-9.682e+00,1.197e-16,14,Y
9,Georgia,-7.588e+00,2.576e-11,16,-9.766e+00,7.340e-17,17,Y
10,Hawaii,-1.023e+01,5.068e-18,13,-1.085e+01,1.564e-19,18,Y
11,Iowa,-1.308e+01,1.890e-24,7,-1.093e+01,9.970e-20,16,Y
12,Idaho,-9.306e+00,1.082e-15,12,-9.658e+00,1.379e-16,16,Y
13,Illinois,-1.320e+01,1.118e-24,7,-1.193e+01,4.884e-22,14,Y
14,Indiana,-9.606e+00,1.864e-16,14,-9.805e+00,5.868e-17,18,Y
15,Kansas,-1.132e+01,1.209e-20,9,-9.349e+00,8.384e-16,18,Y
16,Kentucky,-9.422e+00,5.469e-16,15,-9.251e+00,1.496e-15,17,Y
17,Louisiana,-9.050e+00,4.871e-15,12,-9.149e+00,2.713e-15,17,Y
18,Massachusetts,-9.276e+00,1.288e-15,12,-9.817e+00,5.460e-17,16,Y
19,Maryland,-1.262e+01,1.554e-23,9,-1.001e+01,1.832e-17,17,Y
20,Maine,-8.793e+00,2.215e-14,16,-9.921e+00,2.987e-17,17,Y
21,Michigan,-1.177e+01,1.103e-21,11,-9.544e+00,2.686e-16,17,Y
22,Minnesota,-1.016e+01,7.598e-18,12,-9.394e+00,6.435e-16,17,Y
23,Missouri,-1.063e+01,5.126e-19,13,-9.408e+00,5.931e-16,17,Y
24,Mississippi,-1.142e+01,7.051e-21,12,-9.699e+00,1.087e-16,17,Y
25,Montana,-9.918e+00,3.039e-17,13,-1.023e+01,5.153e-18,18,Y
26,North Carolina,-8.922e+00,1.036e-14,13,-9.902e+00,3.348e-17,17,Y
27,North Dakota,-9.869e+00,4.042e-17,13,-9.761e+00,7.572e-17,17,Y
28,Nebraska,-1.044e+01,1.572e-18,13,-9.587e+00,2.090e-16,17,Y
29,New Hampshire,-9.453e+00,4.569e-16,12,-9.418e+00,5.612e-16,17,Y
30,New Jersey,-9.245e+00,1.547e-15,12,-9.316e+00,1.017e-15,17,Y
31,New Mexico,-1.191e+01,5.269e-22,12,-9.496e+00,3.546e-16,15,Y
32,Nevada,-9.398e+00,6.299e-16,9,-9.791e+00,6.368e-17,17,Y
33,New York,-8.796e+00,2.174e-14,12,-1.095e+01,8.617e-20,15,Y
34,Ohio,-9.737e+00,8.689e-17,12,-1.027e+01,4.108e-18,17,Y
35,Oklahoma,-8.629e+00,5.812e-14,15,-9.124e+00,3.141e-15,16,Y
36,Oregon,-1.301e+01,2.629e-24,9,-1.026e+01,4.335e-18,17,Y
37,Pennsylvania,-8.653e+00,5.067e-14,17,-1.049e+01,1.164e-18,16,Y
38,Rhode Island,-9.266e+00,1.367e-15,15,-8.960e+00,8.276e-15,16,Y
39,South Carolina,-1.326e+01,8.562e-25,8,-9.653e+00,1.416e-16,16,Y
40,South Dakota,-9.235e+00,1.640e-15,13,-1.032e+01,2.974e-18,14,Y
41,Tennessee,-5.978e+00,1.864e-07,16,-9.085e+00,3.957e-15,17,Y
42,Texas,-6.341e+00,2.759e-08,18,-1.124e+01,1.819e-20,18,Y
43,Utah,-1.077e+01,2.335e-19,13,-1.006e+01,1.369e-17,17,Y
44,Virginia,-1.041e+01,1.802e-18,12,-9.891e+00,3.557e-17,16,Y
45,Vermont,-1.065e+01,4.594e-19,12,-1.051e+01,1.060e-18,16,Y
46,Washington,-1.234e+01,6.190e-23,8,-9.217e+00,1.821e-15,16,Y
47,Wisconsin,-1.011e+01,1.023e-17,13,-9.012e+00,6.103e-15,17,Y
48,West Virginia,-1.039e+01,1.981e-18,15,-9.828e+00,5.112e-17,17,Y
49,Wyoming,-9.841e+00,4.757e-17,14,-1.011e+01,9.935e-18,15,Y

In [ ]:
df.to_csv('adfuller_us.csv', index=False)

In [ ]:
p = []
lag = []
is_granger = []
state_names = []

for subdivision in us_states:
    df_merged = get_state_dataseries_merged(df_us_tweets, df_us_shortage, subdivision, start_date, end_date)

    if df_merged is None:
        print('no data for: ', subdivision)
        continue

    state_names.append(us_states.get(subdivision))

    # extract the X and Y
    X = df_merged['neg'].to_numpy()
    Y = df_merged['inpatient_beds_used_covid'].to_numpy()
    has_nan = np.isnan(Y)
    if has_nan.any():
        not_nan = np.logical_not(has_nan)
        X = X[not_nan]
        Y = Y[not_nan]

    n = 2
    X = np.diff(X, n=n)
    Y = np.diff(Y, n=n)

    df_granger = pd.DataFrame(data={
        'tweets': X, 'nursing': Y
    })

    result = grangercausalitytests(df_granger[['nursing', 'tweets']], maxlag=10, verbose=False)

    for i in range(1, 11):
      p_val = result[i][0].get('ssr_ftest')[1]
      if p_val <= 0.05:
        p.append(round(p_val, 3))
        lag.append(i)
        is_granger.append('Y')
        break
      if i == 10:
        p.append(round(p_val, 3))
        lag.append(i)
        is_granger.append('N')
        print()

df = pd.DataFrame()
df['Subdivision name'] = state_names
df['p value'] = p
df['Number of lags'] = lag
df['Reject null hypothesis'] = is_granger
df

In [ ]:
df.to_csv('granger_us.csv', index=False)

### Brazil

In [ ]:
df_brazil_shortage = pd.read_csv('/content/brazil_beds_only.csv')

In [ ]:
df_brazil_tweets = pd.read_csv('/content/brazil_states_tweet_count.csv')

In [ ]:
brazil_states = [unidecode(s) for s in brazil_states]
df_brazil_tweets['state'] = df_brazil_tweets['state'].apply(lambda x: unidecode(x))
df_brazil_shortage['location_name'] = df_brazil_shortage['location_name'].apply(lambda x: unidecode(x))
df_brazil_shortage['location_name'] = df_brazil_shortage['location_name'].apply(lambda x: 'Federal District' if x == 'Distrito Federal' else x)

In [ ]:
def get_state_dataseries_merged(df_tweets, df_resources, state_name, start_date, end_date):
    # take the data from one state and within time range
    df_tweets_selected    = df_tweets.loc[
        (df_tweets['state'] == state_name) &
        (df_tweets['date_time'] >= start_date) &
        (df_tweets['date_time'] < end_date)
    ].sort_values('date_time')
    df_resources_selected = df_resources.loc[
        (df_resources['location_name'] == state_name) &
        (df_resources['date'] >= start_date) &
        (df_resources['date'] < end_date)
    ].sort_values('date')

    if len(df_tweets_selected) == 0 or len(df_resources_selected) == 0:
        return None

    # merge the two tables
    df_merged = pd.merge(df_tweets_selected, df_resources_selected,
                         left_on='date_time', right_on='date',
                         how='inner').drop('date_time', axis=1).sort_values('date')

    return df_merged

In [ ]:
for state in brazil_states:
  df_merged = get_state_dataseries_merged(df_brazil_tweets, df_brazil_shortage, "Acre", '2020-02-01', '2021-01-01')

In [ ]:
results_per_states = {}

adf_stats_tweets = []
p_tweets = []
lag_used_tweets = []
adf_stats_beds = []
p_beds = []
lag_used_beds = []
is_adf = []

state_names = []


# now look through each state for causation correlation
# for subdivision in brazil_states:
for subdivision in brazil_states:
    state_names.append(subdivision)
    df_merged = get_state_dataseries_merged(df_brazil_tweets, df_brazil_shortage, subdivision, '2020-02-01', '2021-01-01')

    if df_merged is None:
        print('no data for: ', subdivision)
        continue

    # extract the X and Y
    X = df_merged['neg'].to_numpy()
    Y = df_merged['icu_beds_mean'].to_numpy()

    print(X.shape, Y.shape)

    n = 2
    X = np.diff(X, n=n)
    Y = np.diff(Y, n=n)

    # res = model_series_ccm(X, Y, tau=1, E=8, L_min=40)

    result = adfuller(X)
    adf_stats_tweets.append("{:.3e}".format(result[0]))
    p_tweets.append("{:.3e}".format(result[1]))
    lag_used_tweets.append(result[2])

    result2 = adfuller(Y)
    adf_stats_beds.append("{:.3e}".format(result2[0]))
    p_beds.append("{:.3e}".format(result2[1]))
    lag_used_beds.append(result2[2])

    is_adf.append('Y' if result[1] <= 0.05 and result2[1] <= 0.05 else 'N')

    # results_per_states[subdivision] = res

df = pd.DataFrame()
df['Subdivision Name'] = state_names
df['ADF Statistic - Beds'] = adf_stats_beds
df['p value - Beds'] = p_beds
df['Lag used - Beds'] = lag_used_beds
df['ADF Statistic - Tweets'] = adf_stats_tweets
df['p value - Tweets'] = p_tweets
df['Lag used - Tweets'] = lag_used_tweets
df['Reject null hypothesis'] = is_adf
df

(311,) (311,)
(323,) (323,)
(323,) (323,)
(305,) (305,)
(324,) (324,)
(322,) (322,)
(322,) (322,)
(318,) (318,)
(319,) (319,)
(315,) (315,)
(324,) (324,)
(313,) (313,)
(319,) (319,)
(320,) (320,)
(318,) (318,)
(324,) (324,)
(323,) (323,)
(312,) (312,)
(324,) (324,)
(317,) (317,)
(308,) (308,)
(318,) (318,)
(323,) (323,)
(322,) (322,)
(316,) (316,)
(324,) (324,)
(316,) (316,)

,Subdivision Name,ADF Statistic - Beds,p value - Beds,Lag used - Beds,ADF Statistic - Tweets,p value - Tweets,Lag used - Tweets,Reject null hypothesis
0,Acre,-9.118e+00,3.264e-15,6,-8.901e+00,1.170e-14,15,Y
1,Alagoas,-7.708e+00,1.289e-11,13,-8.744e+00,2.960e-14,15,Y
2,Amazonas,-5.907e+00,2.697e-07,12,-9.596e+00,1.973e-16,15,Y
3,Amapa,-8.500e+00,1.245e-13,7,-8.966e+00,8.007e-15,16,Y
4,Bahia,-1.017e+01,7.007e-18,7,-9.854e+00,4.413e-17,16,Y
5,Ceara,-7.255e+00,1.744e-10,12,-8.373e+00,2.628e-13,17,Y
6,Federal District,-7.101e+00,4.165e-10,13,-9.502e+00,3.431e-16,14,Y
7,Espirito Santo,-7.007e+00,7.099e-10,12,-1.021e+01,5.716e-18,16,Y
8,Goias,-9.882e+00,3.740e-17,7,-8.576e+00,7.945e-14,15,Y
9,Maranhao,-1.071e+01,3.366e-19,4,-8.812e+00,1.980e-14,15,Y
10,Minas Gerais,-1.149e+01,4.745e-21,6,-9.489e+00,3.686e-16,17,Y
11,Mato Grosso do Sul,-1.008e+01,1.190e-17,6,-1.011e+01,1.029e-17,16,Y
12,Mato Grosso,-1.001e+01,1.841e-17,7,-9.886e+00,3.663e-17,17,Y
13,Para,-5.329e+00,4.760e-06,14,-8.766e+00,2.590e-14,16,Y
14,Paraiba,-5.551e+00,1.621e-06,14,-8.971e+00,7.735e-15,16,Y
15,Parana,-5.237e+00,7.383e-06,14,-8.988e+00,7.014e-15,15,Y
16,Pernambuco,-1.010e+01,1.089e-17,4,-9.906e+00,3.270e-17,17,Y
17,Piaui,-8.645e+00,5.297e-14,14,-8.723e+00,3.354e-14,14,Y
18,Rio de Janeiro,-6.907e+00,1.241e-09,12,-7.919e+00,3.764e-12,17,Y
19,Rio Grande do Norte,-7.257e+00,1.721e-10,12,-9.335e+00,9.127e-16,16,Y
20,Rondonia,-5.768e+00,5.469e-07,14,-9.138e+00,2.908e-15,14,Y
21,Roraima,-7.979e+00,2.656e-12,13,-9.441e+00,4.908e-16,14,Y
22,Rio Grande do Sul,-5.760e+00,5.711e-07,14,-8.867e+00,1.431e-14,17,Y
23,Santa Catarina,-6.490e+00,1.235e-08,13,-8.358e+00,2.879e-13,17,Y
24,Sergipe,-8.861e+00,1.482e-14,6,-9.524e+00,3.004e-16,15,Y
25,Sao Paulo,-7.892e+00,4.403e-12,12,-9.740e+00,8.547e-17,16,Y
26,Tocantins,-6.426e+00,1.745e-08,13,-9.029e+00,5.502e-15,16,Y

In [ ]:
df.to_csv('adfuller_brazil.csv', index=False)

In [ ]:
p = []
lag = []
is_granger = []
state_names = []

for subdivision in brazil_states:
    state_names.append(subdivision)
    df_merged = get_state_dataseries_merged(df_brazil_tweets, df_brazil_shortage, subdivision, '2020-02-01', '2021-01-01')

    if df_merged is None:
        print('no data for: ', subdivision)
        continue

    # extract the X and Y
    X = df_merged['neg'].to_numpy()
    Y = df_merged['icu_beds_mean'].to_numpy()

    n = 2
    X = np.diff(X, n=n)
    Y = np.diff(Y, n=n)

    df_granger = pd.DataFrame(data={
        'tweets': X, 'nursing': Y
    })

    result = grangercausalitytests(df_granger[['nursing', 'tweets']], maxlag=10, verbose=False)

    for i in range(1, 11):
      p_val = result[i][0].get('ssr_ftest')[1]
      if p_val <= 0.05:
        p.append("{:.3e}".format(p_val))
        lag.append(i)
        is_granger.append('Y')
        break
      if i == 10:
        p.append("{:.3e}".format(p_val))
        lag.append(i)
        is_granger.append('N')
        print()

df = pd.DataFrame()
df['Subdivision name'] = state_names
df['p value'] = p
df['Number of lags'] = lag
df['Reject null hypothesis'] = is_granger
df

       Subdivision name    p value  Number of lags Reject null hypothesis
0                  Acre  9.925e-01              10                      N
1               Alagoas  8.954e-01              10                      N
2              Amazonas  2.812e-01              10                      N
3                 Amapa  1.000e+00              10                      N
4                 Bahia  9.999e-01              10                      N
5                 Ceara  2.847e-09               9                      Y
6      Federal District  9.902e-01              10                      N
7        Espirito Santo  5.516e-01              10                      N
8                 Goias  5.988e-01              10                      N
9              Maranhao  4.060e-02               6                      Y
10         Minas Gerais  8.531e-01              10                      N
11   Mato Grosso do Sul  9.999e-01              10                      N
12          Mato Grosso  1.000e+00              10                      N
13                 Para  6.194e-03               2                      Y
14              Paraiba  4.323e-02               1                      Y
15               Parana  6.003e-01              10                      N
16           Pernambuco  1.426e-02               2                      Y
17                Piaui  8.998e-01              10                      N
18       Rio de Janeiro  1.623e-01              10                      N
19  Rio Grande do Norte  9.963e-01              10                      N
20             Rondonia  9.087e-01              10                      N
21              Roraima  1.724e-03               4                      Y
22    Rio Grande do Sul  9.845e-01              10                      N
23       Santa Catarina  9.953e-01              10                      N
24              Sergipe  4.811e-01              10                      N
25            Sao Paulo  9.109e-01              10                      N
26            Tocantins  5.034e-01              10                      N

In [ ]:
df.to_csv('granger_brazil.csv', index=False)