In [1]:
from causal_ccm.causal_ccm import ccm
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
import tabulate

In [2]:
# import required module for removing letter accents
from unidecode import unidecode

In [3]:
df_shortage = pd.read_csv('resources_data_used_for_india.csv')

In [5]:
df_shortage['location_name'] = df_shortage['location_name'].apply(lambda x: unidecode(x))

# rename 'Distrito Federal'
df_shortage['location_name'] = df_shortage['location_name'].apply(lambda x: 'Federal District' if x == 'Distrito Federal' else x)

In [6]:
# list for state names

In [7]:
india_subdivisions = open('indian_entities_list').readlines()
india_subdivisions = [s[1:-3].strip() for s in india_subdivisions]

In [10]:
brazil_state_list = [
  "Acre",
  "Alagoas",
  "Amazonas",
  "Amapá", 
  "Bahia", 
  "Ceará", 
  "Federal District", # old "Distrito Federal"
  "Espírito Santo", 
  "Goiás", 
  "Maranhão", 
  "Minas Gerais", 
  "Mato Grosso do Sul", 
  "Mato Grosso", 
  "Pará", 
  "Paraíba", 
  "Paraná", 
  "Pernambuco", 
  "Piauí", # old "Piaui"
  "Rio de Janeiro", 
  "Rio Grande do Norte", 
  "Rondônia", 
  "Roraima", 
  "Rio Grande do Sul", 
  "Santa Catarina", 
  "Sergipe", 
  "São Paulo", 
  "Tocantins"]

brazil_state_list = [unidecode(s) for s in brazil_state_list]

In [16]:
# brazil
df_shortage_brazil = df_shortage.loc[df_shortage['location_name'].apply(lambda x: x in brazil_state_list)]
df_shortage_brazil = df_shortage_brazil[['date', 'location_name', 'icu_beds_mean']].sort_values('date')

In [17]:
df_shortage_brazil

              date       location_name  icu_beds_mean
249083  2020-02-04               Goias          37.85
247423  2020-02-04               Amapa           5.50
253067  2020-02-04            Rondonia          23.07
254727  2020-02-04           Sao Paulo          74.30
250743  2020-02-04                Para          49.02
...            ...                 ...            ...
108769  2021-12-31  Mato Grosso do Sul          37.60
109864  2021-12-31             Paraiba          26.68
107674  2021-12-31               Goias         100.68
109499  2021-12-31                Para         176.79
106944  2021-12-31    Federal District          43.36

[18819 rows x 3 columns]

In [18]:
# india
df_shortage_india = df_shortage.loc[df_shortage['location_name'].apply(lambda x: x in india_subdivisions)]
df_shortage_india = df_shortage_india[['date', 'location_name', 'icu_beds_mean']].sort_values('date')

In [19]:
df_shortage_india

              date     location_name  icu_beds_mean
258379  2020-02-04  Himachal Pradesh           0.00
264687  2020-02-04       Uttarakhand           0.00
256719  2020-02-04      Chhattisgarh           0.00
256055  2020-02-04             Assam           0.00
262363  2020-02-04            Punjab           0.00
...            ...               ...            ...
121179  2021-12-31           Mizoram          18.76
118989  2021-12-31         Karnataka          78.99
124099  2021-12-31           Tripura           8.45
120449  2021-12-31           Manipur          21.38
116799  2021-12-31               Goa          10.56

[20213 rows x 3 columns]

In [20]:
df_shortage_brazil.to_csv('brazil_beds_only.csv')
df_shortage_india.to_csv('india_beds_only.csv')